{% extends "base.html" %} {% block content %}
<div class="main-page-content">
<h2 class="main-page-head">Skin Cancer - Image Classifier !</h2>
<p class="main-page-p"> Melanoma is a cancer that begins in the melanocytes. Other names for this cancer include malignant melanoma and cutaneous melanoma. Most melanoma cells still make melanin, so melanoma tumors are usually brown or black. But some melanomas do not make melanin and can appear pink, tan, or even white. Melanomas can develop anywhere on the skin, but they are more likely to start on the trunk (chest and back) in men and on the legs in women. The neck and face are other common sites. Melanoma is much less common than some other types of skin cancers. But melanoma is more dangerous because it's much more likely to spread to other parts of the body if not caught and treated early. </p>
<a class="fcc-btn" href="{{ url_for('analysis') }}">Go to Lab</a>
<div class="footer">
    <p>A Teamwork by Akash, Manu K Kumar, Muhammed Shiyas, and Sidharth J</p>
</div>

</div>


{% endblock %}